<h1>Add Salesman</h1>
<label for="name">Salesman's name</label>
<input type="text" placeholder="Salesman's name" id="name" ng-model="newSalesman.name">
<label for="q1">Quarter 1 Sales</label>
<input type="number" placeholder="Sales for quarter 1" id="q1" ng-model="newSalesman.q1">
<label for="q2">Quarter 2 Sales</label>
<input type="number" placeholder="Sales for quarter 2" id="q2" ng-model="newSalesman.q2">
<label for="q3">Quarter 3 Sales</label>
<input type="number" placeholder="Sales for quarter 3" id="q3" ng-model="newSalesman.q3">
<label for="q4">Quarter 4 Sales</label>
<input type="number" placeholder="Sales for quarter 4" id="q4" ng-model="newSalesman.q4">
<a href="#!list"><button ng-click="addSalesman()"> Add Salesman</button></a>
<a href="#!list"><button >Exit</button></a>

