<h1>Add Product</h1>
<label for="name">Product name</label>
<input type="text" placeholder="Product's name" id="name" ng-model="newProduct.name">
<label for="q1">Price</label>
<input type="number" placeholder="Price" id="price" ng-model="newProduct.price">
<label for="q2">Quantity</label>
<input type="number" placeholder="Quantity" id="quantity" ng-model="newProduct.quantity">
<a href="#!products"><button ng-click="addProduct()"> Add Product</button></a>
<a href="#!products"><button >Exit</button></a>

